/**************************************************************************
RESET
***************************************************************************/
html {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  color: rgb(61, 73, 92);
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  /* color inherited from root */
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 900;
}

p {
  margin-top: 0;
}

header {
  font-size: 20px;
  padding: 150px 0;
}

/**************************************************************************
Styling
***************************************************************************/
.container {
  margin: 0 auto;
  width: 900px;
}

.clear {
  clear: both;
}

.hero__content {
  float: left;
  margin-right: 100px;
  margin-top: 50px;
  width: 375px;
}

.hero__content h1 {
  font-size: 50px;
}

#minha_foto {
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  padding: 25px;
  width: 300px;
}
