/**************************************************************************
RESET
***************************************************************************/
html {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  color: rgb(61, 73, 92);
  font-family: "Noto Sans", sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  /* color inherited from root */
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  margin-bottom: 8px;
  margin-top: 5px;
}

p {
  margin-top: 0;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

header {
  background-color: rgb(253, 251, 251);
  color: #036b52;
  font-size: 22px;
  padding: 50px 0;
  position: fixed;
  top: 0;
  /* text-align: center; */
  width: 100vw;
}

/**************************************************************************
Styling
***************************************************************************/
.container {
  margin: 0 auto;
  width: 900px;
}

.clear {
  clear: both;
}

.float {
  float: left;
}

.hero {
  margin-top: 180px;
}

.hero__content {
  font-size: 22px;
  margin-right: 50px;
  width: 900px;
}

.hero__content h1 {
  font-size: 50px;
}

#minha_foto {
  background-color: rgb(253, 251, 251);
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}

.experience {
  margin-top: 100px;
  background-color: rgb(14, 150, 118);
  color: rgb(253, 251, 251);
  border: 5px solid rgb(253, 251, 251);
  border-radius: 20px;
  padding: 80px 0;
}

.lado-esquerdo {
  float: left;
  font-size: 18px;
  margin-left: 60px;
  text-align: right;
  width: 450px;
}

.lado-esquerdo p:first-child {
  margin-top: 35px;
}

.lado-direito {
  float: left;
  text-align: center;
  margin-left: 90px;
}

/* .lado-direito p:nth-of-type(1) {
  font-size: 16px;
  margin: 5px 0;
} */

.lado-direito p {
  margin-bottom: 2px;
  font-size: 11px;
}

.learned {
  margin-top: 150px;
  margin-bottom: 150px;
}

.learned h2 {
  text-align: center;
}

table {
  margin: 40px auto 60px auto;
  width: 80%;
  text-align: left;
}

table caption {
  padding: 10px 0;
  font-size: 12px;
  text-align: left;
}

table th {
  background-color: rgb(14, 150, 118);
  color: rgb(253, 251, 251);
  padding: 3px 0 3px 10px;
}

table td {
  padding-left: 10px;
}

#licoes_aprendidas {
}

#licoes_aprendidas li {
  padding: 15px 0 15px 40px;
  margin: 5px 0;
  background-color: rgb(61, 73, 92);
  border-radius: 5px;
  color: rgb(253, 251, 251);
  font-weight: 900;
}

.toLearn {
  text-align: center;
  margin-bottom: 200px;
}

#licoes_a_aprender {
  margin-top: 40px;
}

#licoes_a_aprender li {
  padding: 30px 40px;
  background-color: rgb(14, 150, 118);
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

#licoes_a_aprender li:hover {
  color: rgb(253, 251, 251);
}

footer {
  background-color: white;
  padding: 15px 0;
  border-top: 1px solid rgb(61, 73, 92);
}
footer p {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
}

footer a {
  float: right;
}
a img {
  width: 20px;
  margin-left: 20px;
  opacity: 0.75;
}

a img:hover {
  opacity: 1;
}
