/**************************************************************************
RESET
***************************************************************************/
html {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  color: rgb(61, 73, 92);
  font-family: "Noto Sans", sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  /* color inherited from root */
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

header {
  background-color: rgb(253, 251, 251);
  font-size: 22px;
  padding: 50px 0;
  position: fixed;
  top: 0;
  /* text-align: center; */
  width: 100vw;
}

/**************************************************************************
Styling
***************************************************************************/
.container {
  margin: 0 auto;
  width: 900px;
}

.clear {
  clear: both;
}

.float {
  float: left;
}

.hero {
  margin-top: 180px;
}

.hero__content {
  font-size: 22px;
  margin-right: 50px;
  width: 900px;
}

.hero__content h1 {
  font-size: 50px;
}

#minha_foto {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  width: 180px;
}

.experience {
  margin-top: 100px;
  background-color: #3d495c;
  color: rgb(253, 251, 251);
  border: 5px solid white;
  border-radius: 20px;
  padding: 50px 0;
}

.lado-esquerdo {
  float: left;
  margin-left: 80px;
  text-align: right;
  width: 400px;
}

.lado-esquerdo p:first-child {
  margin-top: 50px;
}

.lado-direito {
  float: right;
  text-align: center;
  margin-right: 120px;
}

.lado-direito p:nth-of-type(1) {
  font-size: 14px;
}

.lado-direito p {
  margin-bottom: 2px;
  font-size: 10px;
}

.learned {
  text-align: center;
  margin-top: 120px;
}
